In [2]:
print("hello")

hello

In [3]:
a=10
a

10

In [4]:
# address of A
id(a)

3153674043920

In [5]:
b=10
b

10

In [11]:
a="hello"
print(a)
type(a)

hello

str

In [6]:
id(b)

3153674043920

In [7]:
if 10 > 3:
    print("ten is grater then 3")

ten is grater then 3

In [13]:
"""
This is multiline
command

"""
print("Hello, World!")
# this is single line commend

Hello, World!

In [16]:
# variable
x=4
y="this is string"
print(x)
print(y)
type(x)

4
this is string

int

In [15]:
# how to change datatype of variable. this can be with casting
x=str(3)
type(x)

str

In [17]:
x=float(3)
print(x)

3.0

In [18]:
# varable name rules

In [19]:
# one value to multiple variable 
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [21]:
# the number of variable and the number of value shoud be same.
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [23]:
# unpacking: list, tuple etc. python allow you to extract the value into variable 
names= ["ali","ahmad","jawad"]
x,y,z=names
print(x)
print(y)
print(z)

ali
ahmad
jawad

In [27]:
# output variable 
x = "Python "
y = "is "
z = "awesome"
print(x, y, z)

Python  is  awesome

In [29]:
# using + operator to O/P multiple variable 
print(x+y+z)

Python is awesome

In [31]:
# it is do mathematical operation not concatenation 
x = 5
y = 10
print(x + y)

15

In [37]:
# Create a variable outside of a function, and use it inside the function
x="ali"
def fun():
    print("this is "+x)
fun()

this is ali

In [39]:
x = "ali"

def myfunc():
  x = "fawad"
  print("this is " + x)

myfunc()

#print("this is " + x)

this is fawad

In [42]:
# this is local variable and convert it to global with the global key word
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [45]:
x = 'ali'
def myfunc():
  x = 'fawad'
myfunc()
print('this is ' + x)

this is ali

In [44]:
x = "ali"

def myfunc():
  global x
  x = "fawad"

myfunc()

print("this is  " + x)

this is  fawad

In [48]:
""" 
built-in data type in python
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
"""
x=10
print(type(x))

<class 'int'>

In [49]:
# python numbers
#There are three numeric types in Python: int, float, complex
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [50]:
# convert from one type t another 
# Note: You cannot convert complex numbers into another number type.

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex. 
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [56]:
# random number 
import random
print(random.randrange(18,20))

18

In [57]:
# casting: 1) integer, float, str etc.
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [59]:
# string: 
print("hello")
a="hello"
print(a)
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

hello
hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [60]:
a="hello, fawad"
print(a[3])

l

In [62]:
#
for x in "fawad":
    print(x[])

f
a
w
a
d

In [63]:
print(len(a))

12

In [69]:
a = "The best things in life are free!"
if " best " in a:
     print("Yes, 'best' is present.")

Yes, 'best' is present.

In [70]:
if " hello " not  in a:
     print("Yes, 'hello' is present.")

Yes, 'hello' is present.

In [74]:
# sting slicing
a="hello, fawad"
print(a[:5])

hello

In [77]:
print(a[3:6])

lo,

In [78]:
# negative index
# modifying string
# string concatenation
#

In [82]:
# formate of string
age = 36
name = f"My name is fawad, I am {age}"
print(name)

My name is fawad, I am 36

In [83]:
# Display the price with 2 decimals:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [85]:
# escape charecter
#txt = "We are the so-called "Vikings" from the north." it will give error
# the correct is below
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [86]:
# string method. capitalized, center etc
# booleans
# operator

In [96]:
# list:
name = ["ali", "ahmad", "fawad", "niaz", "izhar"]
print(name)
print(len(name))
print(type(name))
print(name[3])
if "ahmad" in name:
  print("Yes, 'ahmad' is in the fruits list")
# change item or items
name.append("junaid")
print(name)
# insert, extend,

['ali', 'ahmad', 'fawad', 'niaz', 'izhar']
5
<class 'list'>
niaz
Yes, 'ahmad' is in the fruits list
['ali', 'ahmad', 'fawad', 'niaz', 'izhar', 'junaid']

In [97]:
# remove list 
name.remove("junaid")
print(name)

['ali', 'ahmad', 'fawad', 'niaz', 'izhar']

In [98]:
name.pop(2)
#del name[0]
print(name)
# clear()

['ali', 'ahmad', 'niaz', 'izhar']

In [99]:
# implement loop on list
a = ["ali", "ahmad", "fawad", "niaz", "izhar"]

In [100]:
# using for loop 
for x in a:
    print(x)

ali
ahmad
fawad
niaz
izhar

In [104]:
for x in range(len(a)):
    print(a[x])

ali
ahmad
fawad
niaz
izhar

In [106]:
# using while loop 
x = 0
while x < len(a):
  print(a[x])
  x = x + 1

ali
ahmad
fawad
niaz
izhar

list comprehesion: when you want to create a new list based on the values of an existing list.

In [112]:
# list 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

# list comprehesion 
# syntax: newlist = [expression for item in iterable if condition == True]
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [113]:
# list comprehesion with if statment 
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
new_list=[i for i in range(20) if i%2 == 0]
print("new list: ", new_list)

new list:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [114]:
new_list=[i for i in range(20) if i%2 == 0 if i%3==0]
print("new list: ", new_list)

new list:  [0, 6, 12, 18]

In [115]:
# list comprehesion with if else statment 
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
new_list=[i if i%2==0 else "invalid" for i in range(10)]
print("new list: ", new_list)

new list:  [0, 'invalid', 2, 'invalid', 4, 'invalid', 6, 'invalid', 8, 'invalid']

In [116]:
# sort list 
a = ["ali", "ahmad", "fawad", "niaz", "izhar"]
a.sort()
print(a)

['ahmad', 'ali', 'fawad', 'izhar', 'niaz']

In [117]:
a.sort(reverse=True)
print(a)

['niaz', 'izhar', 'fawad', 'ali', 'ahmad']

In [119]:
# customize sort function 
def fun(n):
  return abs(n - 50)

a = [100, 50, 65, 82, 23]
a.sort(key = fun)
print(a)

[50, 65, 23, 82, 100]

In [120]:
# copylist
# join list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [121]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [123]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [124]:
# list method

In [128]:
# tuple 
a = ("ali", "ahmad", "fawad", "niaz", "izhar")
print(a)
print(type(a))
# access tuple
# update tuple
# unpack tuple
# loop tuple
# join tuple 
# tuple method

('ali', 'ahmad', 'fawad', 'niaz', 'izhar')
<class 'tuple'>

In [129]:
# set in python: unchangebele and unordered, duplicate not allowed 
a = {"ali", "ahmad", "fawad", "niaz", "izhar"}
print(a)
print(type(a))
# access set
# add set items 
# remove set items
# loop set
# join set
# set method

{'izhar', 'ahmad', 'fawad', 'niaz', 'ali'}
<class 'set'>

In [130]:
# dictionary: 
dic = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(dic)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [133]:
# dic items
print(dic["brand"])
print(len(dic))
print(type(dic))
# accessing items 
# change items 
# add items
# remove items 
# loop dic
# copy dic
# nested dic
# dic method

Ford
3
<class 'dict'>

In [134]:
# dic constructor
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [135]:
# if statement 
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [136]:
# elif
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [137]:
# else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [142]:
i = 1
while i < 10:
  print(i)
  i =i+ 1

1
2
3
4
5
6
7
8
9

In [143]:
# break statment 
i = 1
while i < 10:
  print(i)
  if i==6:
    break
  i =i+ 1

1
2
3
4
5
6

In [147]:
i = 0
while i < 10:
  i += 1
  if i == 6:
    continue
  print(i)

1
2
3
4
5
7
8
9
10

In [148]:
# using if else statment in while loop
i=1
while i<10:
    print(i)
    i=i+1
else:
    print("this condition is false now")

1
2
3
4
5
6
7
8
9
this condition is false now

In [149]:
names= ["ali","khan", "izhar","fawad"]
for i in names:
    print(i)

ali
khan
izhar
fawad

In [150]:
for i in "fawad":
    print(i)

f
a
w
a
d

In [152]:
# break statment in for loop
for i in names:
    print(i)
    if i=="izhar":
        break

ali
khan
izhar

In [156]:
# break statment in for loop
names= ["ali","khan", "izhar","fawad"]
for i in names:
    
    if i=="izhar":
        continue
    print(i)

ali
khan
fawad

In [157]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [160]:
# change starting value 
for i in range(5,10):
    print(i)

5
6
7
8
9

In [162]:
for x in range(1, 30, 5):
  print(x)

1
6
11
16
21
26

In [164]:
# using else statement in for loop
for i in range(10):
    print(i)
else:
    print("the loop is end")
#Note: The else block will NOT be executed if the loop is stopped by a break statement.

0
1
2
3
4
5
6
7
8
9
the loop is end

In [165]:
# nest for loop 
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [166]:
for x in [0, 1, 2]:
  pass

In [174]:
# function 
# creating function 
def fun():
    print("this is function") # write once and used multiple time
# calling function 
fun()
fun()
fun()

this is function
this is function
this is function

In [178]:
# divide large task into small task
def add ():
    x=10
    y=12
    z=x+y
    print(z)
add()
def sub ():
    x=10
    y=12
    z=x-y
    print(z)
sub()

22
-2

In [179]:
# function with arg and parameter
def add(y):# def a fun with paramter 
     x=10
     z=x+y
     print(z)
# calling a function arg
add(20)

30

In [182]:
# genartor function: return a sequence of value.
# yield: returen the value from the fun
# next: retrive by element from a generator obj
def disp(a, b):
    yield a
    yield b
x,y=disp(10, 20)
print(x)
print(y)

10
20

In [183]:
result=disp(10,20)
lst=list(result)
print(lst)
print(type(lst))

[10, 20]
<class 'list'>

In [192]:
def show(a, b):
    while a<=b:
        yield a
        a+=1
result=show(1, 5)
print(result)
print(type(result))
print(next(result))
print(next(result))
for i in result:
    print(i)

<generator object show at 0x000002DE4C235AF0>
<class 'generator'>
1
2
3
4
5

decorator: accept a fun as parameter and returns a fun. take the result of a fun modifies the result and returns it.

In [199]:
def decor(num):
    def inner():
        print("IF: before enchancing fun")
        num()
        print("if: after enchancing function")
    return inner
@decor
def num():
    print("we will use thid fun")
    print("and we will enhance this decorator")

num()

IF: before enchancing fun
we will use thid fun
and we will enhance this decorator
if: after enchancing function

In [200]:
def decor(num):
    def inner():
        a=num()
        add=a+5
        return add
    return inner
@decor
def num():
    return 10
print(num())

15

In [1]:
# Iterable: A simple list
my_list = [1, 2, 3]

# Making an iterator from the list
iterator = iter(my_list)

# Accessing elements using the iterator
print(next(iterator))  # Output: 1
print(next(iterator))  # Output: 2
print(next(iterator))  # Output: 3
# Calling next again here would raise StopIteration since there are no more items.

1
2
3

In [3]:
# Iterable: a simple list
my_list = [10, 20, 30]

# Using a for loop to iterate through the iterable
for item in my_list:
    print(item)
# Output: 10, then 20, then 30

10
20
30

In [4]:
# Function to check if a number is prime
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

# List comprehension to find prime numbers up to 50
prime_numbers = [x for x in range(2, 10) if is_prime(x)]

print(prime_numbers)

[2, 3, 5, 7]